# Users Environment Variables
.lock-wscript

# SBT
target
project/target
project/project
lib_managed

# IntelliJ IDEA
.idea*
.idea_modules
*.iml

# VIM
*.sw?

*~

#crf model
*.factorie

#DS_Store
.DS_Store
